.back {
    background-color: #eeeeee;
  }
  
  .text {
    font-size: 17px;
    font-style: italic;
    text-align: center;
    margin-top: 20px;
    margin-left: 28%;
    margin-right: 30%;
    line-height: 20px;
  }
  
  .h {
    text-align: center;
    color: #0d075c;
    margin-top: 20px;
    font-size: 40px;
  }
  .hh {
    text-align: center;
    color: #6e0955;
    margin-top: 20px;
    font-size: 40px;
  }
  
  .about-us {
    text-align: center;
    margin: 20px;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .card {
    width: 250px;
    height: 350px;
    perspective: 1000px;
    margin: 20px;
    color: #eeeeee;
  }
  
  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .card:hover .card-inner {
    transform: rotateY(180deg);
  }
  
  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 8px;
    overflow: hidden;
    color: #eeeeee;
  }
  
  .card-front {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .card-back {
    background-color: #020963;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 3px solid #000000;
  }
  .card-back1 {
    font-size: 18px;
    background-color: #63025b;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 3px solid #000000;
  }
  .card-front,
  .card-back1 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 8px;
    overflow: hidden;
    color: #eeeeee;
  }
  
  .card-back p {
    font-size: 18px;
    line-height: 1.5;
    color: #ffffff;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .card {
      width: 200px;
      height: 300px;
    }
  
    .h {
      font-size: 36px;
    }
  
    .text {
      font-size: 14px;
      margin-left: 5%;
      margin-right: 5%;
    }
  }
  
  @media (max-width: 480px) {
    .card-container {
      flex-direction: column;
      align-items: center;
    }
  
    .h {
      font-size: 30px;
    }
  
    .text {
      font-size: 12px;
      margin-left: 5%;
      margin-right: 5%;
    }
  }
  